@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');


.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  width: 100%;
  font-family: 'Jost', sans-serif;
}

.loginTitle {
  font-size: 50px;
}

.login-contents{
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #ffffff;
  color: #585858;
  padding: 30px;
  border-radius: 5px;
}

.login-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-header i{
  font-size: 30px;
  color: #4d61fc;
}

.login-header h1{
  color: #3b3663;
  font-size: 28px;
}

.login-header h5{
  color: #696687;
  font-size: 18px;
  opacity: .8;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
  color: #696687;
  font-size: 18px;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #96959c;
  opacity: .8;
}

.loginInput:focus {
  outline: none;
  border-bottom: 2px solid #4d61fc;
  transition: .3s ease-in;
}

.loginButton {
  margin-top: 25px;
  cursor: pointer;
  color: white;
  padding: 20px;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  background: #4d61fc;
  width: 40%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
}

.loginButton i{
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}