.topBar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.topLeft{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topLeft img{
  display: flex;
  max-width: 50%;
  margin-top: 40px !important;
}

.topRight{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.topCenter{
  flex: 6;
  margin-top: 40px;
}

.topIcon{
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topBarList{
  display: flex;
  list-style: none;
  justify-content: center;
}

.topBarListItem{
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  color: #444;
}

.topSearchIcon{
  cursor: pointer;
  color: #666;
  font-size: 18px;
  margin-left: 15px;
}
.topList{
  display: flex;
}

.topBarListItem{
  display: flex;
  list-style: none;
}

.action-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 30%;
  outline: none;
  border-radius: none;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #4d61fc;
}

.action-btn .link{
  font-weight: 600;
}

.action-btn:hover{
  transition: .5s ease-in;
  color: #fff;
  background: #4d61fc;
  border: 2px solid #fff;
}



