.topBar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.topLeft, .topRight{
  flex: 3;
}

.flexCenter{
  flex: 6;
}