@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header{
  margin-top: 60px;
  font-family: 'Jost', sans-serif !important;
}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444;
  position: absolute;
  top: 40%;
  width: 100%;
}

.headerTitles h3, p{
  margin-top: 20px;
}

.headerTitles form{
  display: flex;
  width: 30%;
  align-items: center;
  margin-top: 30px;
}

.headerTitles input, .headerTitles button{
  outline: none;
  border: none;
  padding: 20px;
}

.input, .input::placeholder{
  background: #ffffff;
  color: #585858 !important;
  font-weight: 500 !important;
  width: 70%;
  border-radius: 5px;
}

.sub-btn{
  cursor: pointer;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #4d61fc;
  width: 40%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.3s ease-out;
}

.titleSm{
  position: absolute;
  top: 18%;
  font-size: 18px;
}

.titleLg{
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg{
  width: 100%;
  height: 610px;
  object-fit: cover;
}

@keyframes scroll {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.scroll-down{
  margin-top: 40px;
  cursor: pointer;
  animation: scroll 2s ease-out infinite;
}

.scroll-down:hover{
  animation: none;
  transition: .3s ease;
}
