@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header{
  margin-top: 20px;
  font-family: 'Jost', sans-serif !important;
  background: url(/public/assets/home2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 86vh;
}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444;
  width: 100%;
  padding-top: 150px;
}

.headerTitles h3, p{
  margin-top: 20px;
}

.titleSm{
  position: absolute;
  top: 18%;
  font-size: 18px;
}

.titleLg{
  position: absolute;
  top: 20%;
  font-size: 100px;
}

/* .headerImg{
  width: 100%;
  height: 610px;
  object-fit: cover;
} */

@keyframes scroll {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.scroll-down{
  margin-top: 40px;
  animation: scroll 2s ease-out infinite;
}

.scroll-down:hover{
  animation: none;
  transition: .3s ease;
  cursor: pointer !important;
}
